<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View All Faskes</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<style>
    .layout{
        text-align: center;
        padding-top: 20px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .button{
        text-align: left;
        margin-top: 80px;
        margin-left: 100px;
        color: black;
    }

    .judul{
        background-color: #002752;
        font-size: 27px;
        color: white;
        font-weight: 400;
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<section>
    <td><a type="submit" class="btn btn-sm button" id= "button"
           style="text-align: center; background-color:#244c74; color: white; margin: 1%;padding: 15px; padding-left: 3%; padding-right: 3%; font-size: 100%"
           th:href="@{/faskes/add}">+Tambah Faskes</a></td>
    <div class="layout">
        <div class="judul">Daftar Faskes</div>

        <table class="table text-center table-borderless">
            <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Kuota</th>
                <th>Provinsi</th>
                <th>Kabupaten</th>
                <th>Jam Mulai</th>
                <th>Jam Selesai</th>
                <th>Action</th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="faskes, iterationStatus : ${listFaskes}">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${faskes.namaFaskes}"></td>
                <td th:text="${faskes.kuota}"></td>
                <td th:text="${faskes.provinsi}"></td>
                <td th:text="${faskes.kabupaten}"></td>
                <td th:text="'Jam Buka: ' + ${faskes.jamMulai}"></td>
                <td th:text="'Jam Tutup: ' + ${faskes.jamTutup}"></td>

                <td><a th:href="@{/faskes/}+${faskes.idFaskes}" class="btn btn-outline-info">lihat</a></td>
                <td><a th:href="@{/faskes/ubah/}+${faskes.idFaskes}" class="btn btn-outline-secondary">Ubah</a></td>
                <td><a th:href="@{/faskes/hapus/}+${faskes.idFaskes}" class="btn btn-outline-danger">Hapus</a></td>


            </tr>
            </tbody>
        </table>

        <br><br>
        <a href="/">Kembali</a>

    </div>
</section>
</body>
</html>