<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Pilot by NIP</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <h2>Detail Faskes</h2>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="'Nama Faskes' "></td>
            <td th:text="': '+ ${faskes.namaFaskes}"></td>
            <td></td>
        </tr>
        <tr>
            <td th:text="'Kuota' "></td>
            <td th:text="': '+ ${faskes.kuota}"></td>
            <td></td>
        </tr>
        <tr>
            <td th:text="'Provinsi' "></td>
            <td th:text="': '+ ${faskes.provinsi}"></td>
            <td></td>
        </tr>
        <tr>
            <td th:text="'Jam Mulai' "></td>
            <td th:text="': '+ ${faskes.jamMulai}"></td>
            <td></td>
        </tr>
        <tr>
            <td th:text="'Jam Selesai' "></td>
            <td th:text="': '+ ${faskes.jamTutup}"></td>
            <td></td>
        </tr>
        <tr>
            <td th:text="'Jenis vaksin' "></td>
            <td th:text="': '+ ${vaksin.jenisVaksin} + '-' + ${vaksin.asalNegara} + '-' + ${vaksin.efikasi}"></td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td><a th:href="@{/faskes/ubah/}+${faskes.idFaskes}" class="btn btn-outline-secondary">Ubah</a></td>
            <td><a th:href="@{/faskes/hapus/}+${faskes.idFaskes}" class="btn btn-outline-danger">Hapus</a></td>
        </tr>

        </tbody>
    </table>
    <td><a type="submit" class="btn btn-sm button" th:href="@{/pasien/add}" style="background-color: #117a8b">Tambah Pasien</a></td>
    <h2>Daftar Pasien</h2>
    <table class="table">

        <thead>
        <tr>
            <th>No</th>
            <th>NIK</th>
            <th>No Telepon </th>
            <th>Jenis Kelamin</th>
            <th>Tempat Lahir</th>
            <th>Pekerjaan</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pasien, iterationStatus : ${listPasien}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${pasien.namaPasien}"></td>
            <td th:text="${pasien.nik}"></td>
            <td th:text="${pasien.nomorTelepon}"></td>
            <td th:if="${pasien.jenisKelamin == 0}">Jenis Kelamin : Perempuan</td>
            <td th:if="${pasien.jenisKelamin == 1}">Jenis Kelamin : Laki-laki</td>
            <td th:text="${pasien.tempatLahir}"></td>
            <td th:text="${pasien.pekerjaan}"></td>
            <td>
                <a th:href="@{/pasien/}+${pasien.idPasien}" class="btn btn-outline-info">Lihat</a>
                <a th:href="@{/pasien/ubah/}+${pasien.idPasien}" class="btn btn-outline-info">Ubah</a>
            </td>
        </tr>
        </tbody>
    </table>
    <br><br>
    <a href="/">Kembali</a>
</div>
</body>
</html>