<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> SIVAKSIN </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<br><br><br>
<div class="row">
    <div class="col-md-12">
        <div class="container-fluid">
            <div class="card" style="background-color: white; box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);">
                <div class="card-header" style="text-align: center; font-weight: bold; color: white; background-color: #244c74;">
                    <h4> Detail Pasien</h4>
                </div>
                <br>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Nama Pasien</td>
                        <td th:text="': ' + ${pasien.namaPasien}">
                    <tr>
                    <tr>
                        <td>NIK</td>
                        <td th:text="': ' + ${pasien.nik}">
                    </tr>
                    <tr>
                        <td>Nomor Telepon</td>
                        <td th:text="': ' + ${pasien.nomorTelepon}">
                    </tr>
                    <tr>
                        <td>Jenis Kelamin</td>
                        <td th:if="${pasien.jenisKelamin == 0}">: Perempuan</td>
                        <td th:if="${pasien.jenisKelamin == 1}">: Laki-Laki</td>
                    </tr>
                    <tr>
                        <td>Tanggal Lahir</td>
                        <td th:text="': ' + ${birthDate}">
                    </tr>
                    <tr>
                        <td>Tempat Lahir</td>
                        <td th:text="': ' + ${pasien.tempatLahir}">
                    </tr>
                    <tr>
                        <td>Pekerjaan</td>
                        <td th:text="': ' + ${pasien.pekerjaan}">
                    </tr>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="container-fluid">
            <div class="card" style="background-color: white; box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);">
                <div class="card-header" style="text-align: center; font-weight: bold; color: white; background-color: #244c74;">
                    <h5> Daftar Vaksinasi</h5>
                </div>
                <br>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama Faskes</th>
                            <th>Vaksin</th>
                            <th>Batch ID</th>
                            <th>Waktu Suntik</th>
                            <th>Nama Dokter</th>
                            <th>NIP Dokter</th>
                            <th>No Telepon Dokter</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="v, iterationStatus : ${listVaksinasi}" class="text-center">
                            <td th:text="${iterationStatus.count}"></td>
                            <td th:text="${v[0]}"></td>
                            <td th:text="${v[1]}"></td>
                            <td th:text="${v[2]}" style="color: #264a74; font-weight: 600;"></td>
                            <td th:text="${v[3]}"></td>
                            <td th:text="${v[4]}"></td>
                            <td th:text="${v[5]}"></td>
                            <td th:text="${v[6]}"></td>
                        </tr>
                        </tbody>
                    </table>
                <br><br>
            </div>
        </div>
        <br><br>
        <div class="container-fluid">
            <div style="text-align: right">
                <a class="btn btn-sm" style="text-align: center;background-color: #244c74; color: white; padding: 1%; font-size: medium" th:href="@{/pasien}">Kembali</a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>